* {
  margin: 0;
  padding: 0;
}
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 18px;
  background-color: rgb(235, 228, 217);
}
li {
  display: inline-block;
  margin-left: 15px;
}

li a:hover {
  color: #fff;
  text-shadow: 0px 10px 10px rgb(230, 210, 181);
}

a {
  text-decoration: none;
  color: blanchedalmond;
}
ul {
  list-style: none;
  border: 1px solid cadetblue;
  padding: 15px;
}
nav {
  width: 100%;
  position: relative;
  background-color: cadetblue;
}
h1 {
  text-align: center;
  margin-top: 1%;
  color: rgb(85, 161, 164);
  margin-bottom: 2%;
}
p {
  margin: 5px 0;
}
.bd ul {
  display: flex;
  padding: 22px;
}
h3 {
  text-align: center;
}
.bd li:hover {
  transition: transform 0.3s, box-shadow 0.3s;
  transform: scale(1.1);
  box-shadow: 0px 10px 10px rgb(73, 101, 102);
}
