* {
  padding: 0;
  margin: 0;
}

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main main right"
    "menu footer footer footer footer footer";
  grid-gap: 3px;
  background-color: gray;
  padding: 3px;
}

.grid-container div {
  background-color: rgb(219, 219, 219);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
